
<h1 class="text-danger">Custom Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div class="container">
    <h2>
        Error occurred in controller @ViewData["controller"]
    </h2>
    <h2>
        In action @ViewData["action"]
    </h2>
    <h2>
        Error message is @ViewData["errormessage"]
    </h2>
</div>

<br />
<a asp-action="@ViewData["action"]" asp-controller="@ViewData["controller"]">Go Back</a>
